html, body {
  height: 100%;
  display: inline-block;
  color: rgb(200,5,5);
  
}

div {
  border: 0px solid gray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  height: 90%;
  width: 90%;
}

.box {
  text-align: center;
}

#fortune {
  margin-left: 15px;
  margin-bottom: 15px;
}

p {
  width: 85%;
}

#cookie {
  padding-bottom: 30px;
}

#cookie-img {
  width: 70%;
}

#options {
  height: 10%;
  font-size: 12px;
}